.jumbotron{
    width: 800px;
    padding: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background:#e8e8e8;
    padding: 20px;
}
.table{
    margin-top: 15px
}

.form-control{
    margin-bottom: 15px;
}
.formulario{
   
   margin: 0 auto;
}
.btn{
    width: 100%;
    margin-top: 20px;
}
.label{
   display: flex;
   font-size: 18px;
   color: black;
   font-weight: 600;
}

.selecionado{
    background-color: #7edaff;
}

.negrito{
    font-weight: bold;
}

.dir-alerta{
    background-color: #f2dede;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.dir-alerta-title{
    color: #af4341;
    font-weight: bold;
    font-size: 20px;
}

.dir-alerta-mensagem{
    color: #af4341
}